body {
    margin: 0;
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: -1;
    perspective: 10px; /* Add the perspective property here */
}

.background {
    transform: translateZ(-10px) scale(2);
}

.background,
.foreground {
    position: absolute;
}

.background {
    z-index: -1;
}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
}

.title {
    font-size: 7rem;
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
